src/main/resources/schema/countries.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://com.example.demo"
           targetNamespace="http://com.example.demo" elementFormDefault="qualified">

    <xs:element name="CapitalCityRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sCountryISOCode" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CapitalCityResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CapitalCityResult" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>